.demo-card-event.mdl-card {
  width: 256px;
  /* height: 256px; */
  height: 0px;
  margin: 10px;
  float: left;
  /* background: #3E4EB8; */
}

.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}

.demo-card-event > .mdl-card__title {
  align-items: flex-start;
}

.demo-card-event > .mdl-card__title > h4 {
  margin-top: 0;
}

.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing: border-box;
  align-items: center;
}

.demo-card-event > .mdl-card__actions > .material-icons {
  padding-right: 10px;
}

.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: #fff;
}

.purple {
  background: rgb(154, 19, 212);
}

.red {
  background: red;
}

.blue {
  background: blue;
}

.green {
  background: green;
}

.yellow {
  background: yellow;
}

.orange {
  /* background: rgb(255, 132, 0); */
  background: orange;
}

.white {
  background: white;
}

.pink {
  background: rgb(254, 62, 253);
}

.off {
  background: rgb(0, 0, 0);
}

.color-option {
  padding: 10px;
}

/* Crirle design from https://anacidre.com/creating-circle-text-using-html-css/ */
.circle-text {
  display: table-cell;
  height: 200px; /*change this and the width
    for the size of your initial circle*/
  width: 200px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  /*make it pretty*/
  background: blue;
  color: #fff;
  font: 18px "josefin sans", arial; /*change this
    for font-size and font-family*/
}
