<!DOCTYPE html>
<html>
<title>LED Control Centre</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<!-- <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-amber.css"> -->
<link rel="stylesheet" href="static/css/w3-theme-{{ pagecolor }}.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="static/css/colours.css">

<body>

    <div class="w3-row w3-padding w3-theme-d2 w3-xlarge">
        <div class="w3-quarter">
            <div class="w3-bar">
                <a href="#" class="w3-bar-item w3-button"><i class="fa fa-bars"></i></a>
            </div>
        </div>

        <!-- ============================ Search Bar START ============================ -->
        <!-- <div class="w3-half">
            <input type="text" class="w3-amber w3-border-0 w3-padding" style="width:100%">
        </div> -->

        <!-- <div class="w3-quarter">
            <div class="w3-bar w3-xlarge">
                <a href="#" class="w3-bar-item w3-button w3-left"><i class="fa fa-search"></i></a>
                <a href="#" class="w3-bar-item w3-button w3-right"><img class="w3-hide-small w3-circle" src="img_avtar.jpg" style="height:40px;"></a>
            </div>

        </div> -->
        <!-- ============================ Search Bar END ============================ -->
    </div>

    <div class="w3-container w3-padding-32 w3-theme-d1">
        <h1>LED Control Centre</h1>
    </div>

    <div class="w3-row-padding w3-theme">

        <div class="w3-third w3-section">
            <div class="w3-card-4">
                <div class="w3-container w3-white">
                    <h4><a href="/fadeoff">Off</a></h4>
                </div>
            </div>
        </div>

        <div class="w3-third w3-section">
            <div class="w3-card-4">
                <div class="w3-container w3-white">
                    <h4><a href="/red">Red</a></h4>
                </div>
            </div>
        </div>

        <div class="w3-third w3-section">
            <div class="w3-card-4">
                <div class="w3-container w3-white">
                    <h4><a href="/green">Green</a></h4>
                </div>
            </div>
        </div>

        <div class="w3-third w3-section">
            <div class="w3-card-4">
                <div class="w3-container w3-white">
                    <h4><a href="/blue">Blue</a></h4>
                </div>
            </div>
        </div>

        <div class="w3-third w3-section">
            <div class="w3-card-4">
                <div class="w3-container w3-white">
                    <h4><a href="/pink">Pink</a></h4>
                </div>
            </div>
        </div>

        <div class="w3-third w3-section">
            <div class="w3-card-4">
                <div class="w3-container w3-white">
                    <h4><a href="/orange">Orange</a></h4>
                </div>
            </div>
        </div>

        <div class="w3-third w3-section">
            <div class="w3-card-4">
                <div class="w3-container w3-white">
                    <h4><a href="/white">White</a></h4>
                </div>
            </div>
        </div>

        <div class="w3-third w3-section">
            <div class="w3-card-4">
                <div class="w3-container w3-white">
                    <h4><a href="/yellow">Yellow</a></h4>
                </div>
            </div>
        </div>

        <!-- <div class="w3-third w3-section">
            <div class="w3-card-4">
                <img src="img_monterosso.jpg" style="width:100%">
                <div class="w3-container w3-white">
                    <h4>Monterosso</h4>
                    <p>Monterosso al Mare is located at the center of a small natural gulf, protected by a small artificial reef, in the Riviera of La Spezia. It is the northernmost village of the Cinque Terre.</p>
                </div>
            </div>
        </div> -->

        <br><br><br><br><br><br><br>


    </div>
    <div class="w3-container w3-theme-d4">
        <p class="w3-large">LED Control Centre</p>
    </div>

</body>

</html>